---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
---

<Layout title="Rabbit">
  <Container>
    <div class="py-16">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-gray-900">
        Rabbit Page
      </h1>
      <p class="text-lg mt-4 text-slate-600">
        <img src="/rabbit.png" alt="Rabbit" />
      </p>

      <!-- Add your content here -->
    </div>
  </Container>
</Layout>
