  <Layout title="Services">
    <Container>
      <div class="py-16">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
          ...
        </h1>
        <p class="text-lg mt-4 text-slate-600">
	 <img src="/rabbit.png" alt="Rabbit" />
        </p>

        <!-- Add your content here -->
      </div>
    </Container>
  </Layout>

